<% include ../partials/header %>
<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="User profile image"></img>
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        <% if(currentUser && user._id.equals(currentUser._id)) { %>
            <a class="btn btn-sm btn-warning" href="/users/<%= user._id %>/edit">Edit</a>
            <a class="btn btn-sm btn-primary pull-right" href="/forgot">Reset Password</a>
        <% } %>
    </div>
    <div class="col-md-8">
        <h2>Hotels uploaded by <%= user.username %></h2>
        <ul>
            <% hotels.forEach(function(hotel){ %>
                <li><a href="/hotels/<%= hotel._id %>"><%= hotel.name %></a></li>
            <% }) %>
        </ul>
    </div>
    
</div>
<% include ../partials/footer %>